* {
    margin: 0;
    padding: 0;
  }
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    background-color: #fff;
    color: #333;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
}

/*  НАЧАЛО
    Стили для страницы с сообщениями чата (для макета из ДЗ-2) */
.container1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
}
/* НАЧАЛО
   СТИЛИ ДЛЯ БЛОКА .header И ЕГО ДОЧЕРНИХ ЭЛЕМЕНТОВ */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    background-color: #8E24AA;
    padding: 0 2vw;
    color: rgb(255, 255, 255);
}

.back > span, .search > span, #more_vert {
    padding: 1vh;
    border-radius: 50%;
    transition: 0.5s ease-out;
}

.back > span:hover, .search > span:hover, #more_vert:hover {

    background-color: #af3bcf;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px #af3bcf;
}

.back > span:active, .search > span:active, #more_vert:active {
    background-color: #d22fff;
}
.container1 .photo {
    margin-left: auto;
    margin-right: 5vw;
    display: flex;
    align-items: center;
}

.photo img{
    border-radius: 50%;
    width:8vh;
}

.info .name{
    font-size: calc(13px + 16 * (100vw / 1280));
}

.info .last-visit{
    color: rgb(184 115 201);
    font-size: calc(8px + 16 * (100vw / 1280));
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 30vw;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    top: 12%;
    right: 5%;
    z-index: 100;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-size: calc(8px + 20 * (100vw / 1280));
    color: black;
    padding: 2vh 3vw;
    text-decoration: none;
    display: block;
    transition: 0.5s ease-out;
}

/* Change color of dropdown links on hover and active */
.dropdown-content a:hover {background-color: #ddd}

.dropdown-content a:active {background-color: rgb(192, 192, 192);}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.more > button {
    color: inherit;
    border: none;
    background: inherit;
}
/* СТИЛИ ДЛЯ БЛОКА .header И ЕГО ДОЧЕРНИХ ЭЛЕМЕНТОВ
   КОНЕЦ */


/* НАЧАЛО
   СТИЛИ ДЛЯ БЛОКА .message И ЕГО ДОЧЕРНИХ ЭЛЕМЕНТОВ    */
.message {
    flex: 8;
    padding: 5px;
    padding-right: 15px;
    background-color: #e8e8e8;
    overflow: auto;
}

.message-container {
    position: relative;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    background-color: #e6cff8;
    width: fit-content;
    padding: 5px;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    border: 1px solid #b1aaaa;
    /*box-shadow: -1px 1px 1px #bf91e3;*/
    margin: 5px 5px 5px auto;
}

.message-container-animate {
    position: relative;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    background-color: #e6cff8;
    width: fit-content;
    padding: 5px;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    border: 1px solid #b1aaaa;
    margin: 5px 5px 5px auto;
    animation-name: slip;
    animation-duration: 1.5s;
}

@keyframes slip {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.message-container::before, .message-container-animate::before {
    transform: rotate(-45deg);
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -8px;
    bottom: -9px;
    border: 8px solid;
    border-color: transparent #b1aaaa transparent transparent;
}
.message-container::after, .message-container-animate::after {
    transform: rotate(-45deg);
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -6px;
    bottom: -7px;
    border: 7px solid;
    border-color: transparent #e6cff8 transparent transparent;
}

.message-time {
    font-size: calc(10px + 16 * (100vw / 1280));
    display: flex;
    justify-content: flex-end;
    order: 2;
    padding-top: inherit;
    color: grey;
    align-items: flex-end;
}

.message-time span{
    font-size: calc(10px + 16 * (100vw / 1280));
    color: #8E24AA;
    margin-left: 5px;
}

.message-text {
    padding: 5px 5px 0px 5px;
    font-size: calc(12px + 16 * (100vw / 1280));

}

.message-time{
    line-height: 1;
}
/* СТИЛИ ДЛЯ БЛОКА .message И ЕГО ДОЧЕРНИХ ЭЛЕМЕНТОВ
   КОНЕЦ */

/* НАЧАЛО
   СТИЛИ ДЛЯ БЛОКА .footer И ЕГО ДОЧЕРНИХ ЭЛЕМЕНТОВ    */
.footer {
    border-top: 1px solid rgba(25, 25, 25, 0.32);
    min-height: 30px;
}

.form-input {
    border: none;
    padding: 12px;
    width: 100%;
    outline: none;
}

.footer .form {
    display: flex;
    align-items: center;
}

.form .material-icons {
    color: rgb(133, 133, 133);
    padding: 1vh;
    border-radius: 50%;
    transition: 0.5s ease-out;
}

.form .material-icons:hover {
    cursor: pointer;
    color: rgb(100, 100, 100);
}

.form .material-icons:active {
    color: rgb(75, 75, 75);
}

input[type=submit] {
    visibility: collapse;
}

/*  СТИЛИ ДЛЯ БЛОКА .footer И ЕГО ДОЧЕРНИХ ЭЛЕМЕНТОВ
    КОНЕЦ */

/*  Стили для страницы с сообщениями чата (для макета из ДЗ-2)
    КОНЕЦ */




* {
    margin: 0;
    padding: 0;
  }
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    background-color: #fff;
    color: #333;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
}

/*  НАЧАЛО
    Стили для страницы с чатами (для макета из ДЗ-3) */

.container2 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*  НАЧАЛО
    Стили для блока header и его дочерних элементов */
header {
    display: flex;
    align-items: center;
    background-color: #8E24AA;
    color: #fff;
    font-size: calc(10px + 24 * (100vw / 1280));
    padding: 2vh 0;
}

.menu {
    margin-left: 2vw;
    margin-right: 10vw;
}

.search {
    margin-left: auto;
    margin-right: 2vw;
}

.photo img{
    border-radius: 50%;
    width:8vh;
}

.menu > span, .search > span {
    padding: 1vh;
    border-radius: 50%;
    transition: 0.5s ease-out;
}

.menu > span:hover, .search > span:hover {
    background-color: #af3bcf;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px #af3bcf;
}

.menu > span:active, .search > span:active {
    background-color: #d22fff;
}
/*  КОНЕЦ
    Стили для блока header и его дочерних элементов */

/*  НАЧАЛО
    Стили для блока chats и его дочерних элементов */

.chats {
    overflow: auto;
    height: 100vh;
}

.chat {
    display: flex;
    align-items: stretch;
    padding-top: 1vh;
    transition: 0.5s ease-out;
}

.chat:hover {
    background-color: #ddd;
    cursor: pointer;
}

.chat:active {
    background-color: rgb(192, 192, 192);
}

.container2 .photo {
    margin-left: 2vw;
    margin-right: 10vw;
    display: flex;
    align-items: center;
}

.chat-info {
    padding-top: 1vh;
    border-bottom: 1px solid #d1d1d1;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-text {
    height: 100%;
}

.name {
    /* padding-top: 1vh ; */
    font-size: calc(14px + 24 * (100vw / 1280));
}

.text {
    white-space: nowrap;
    padding-top: 1vh;
    color: grey;
    font-size: calc(10px + 24 * (100vw / 1280));
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 5vh;
    max-width: 55vw;
}

.container2 .info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    margin-right: 2vw;
}

.condition {
    padding-top: 1vh;
    color: #8E24AA;
}
/*  КОНЕЦ
    Стили для блока chats и его дочерних элементов */

/*  НАЧАЛО
    Стили для блока create-chat и его дочерних элементов */
.create-chat {
    color: grey;
    position: absolute;
    bottom: 5vh;
    right: 5vh;
    background-color: #ffca00ba;
    height: 8vh;
    width: 8vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 5px 7px 1px rgb(0 0 0 / 20%);
    transition: 1s ease-out;
}

.create-chat:hover {
    animation: shadow_to_zero 1s 1, pulse 2s infinite;
    cursor: pointer;
    animation-delay: 0s, 1s;
    background-color: #ffcc00;
    box-shadow:none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.create-chat:active {
    background-color: #ffb300;
    animation: none;
}
/*  Стили для страницы с чатами (для макета из ДЗ-3)
    КОНЕЦ */


