header {
    display: flex;
    align-items: center;
    background-color: #8E24AA;
    color: #fff;
    font-size: calc(10px + 24 * (100vw / 1280));
    padding: 2vh 0;
}



.search {
    margin-left: auto;
    margin-right: 2vw;
}


