.message_container {
    position: relative;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    background-color: #e6cff8;
    width: fit-content;
    padding: 5px;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    border: 1px solid #b1aaaa;
    margin: 5px 5px 5px auto;
}

.message_container::before {
    transform: rotate(-45deg);
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -8px;
    bottom: -9px;
    border: 8px solid;
    border-color: transparent #b1aaaa transparent transparent;
}
.message_container::after {
    transform: rotate(-45deg);
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -6px;
    bottom: -7px;
    border: 7px solid;
    border-color: transparent #e6cff8 transparent transparent;
}

.message_info {
    font-size: calc(10px + 16 * (100vw / 1280));
    display: flex;
    padding-top: inherit;
    color: grey;
    justify-content: flex-end;
}

.message_status {
    align-items: flex-end;
    display: flex;
}

.status {
    display: flex;
    color: #8E24AA;
    margin-left: 5px;
}

.message_text {
    padding: 5px 5px 0px 5px;
    font-size: calc(12px + 16 * (100vw / 1280));
}

